<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpt.hxqh.mpt_project">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MPT.ActivityTheme">
        <activity android:name=".ui.actvity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.actvity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MPT.ActivityTheme" />
        <activity
            android:name=".ui.actvity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MPT.ActivityTheme" />

        <activity
            android:name=".ui.actvity.Asset_Search_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.MipcaActivityCapture"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.PermissionsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.LocationChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.ItemChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.AssetChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.InvbalancesChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.PersonChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.SiteChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Asset_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Asset_Transfer_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Transfer_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Transfer_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.TransferLine_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Asset_Udasst_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Udasst_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Udasst_AddNew_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.UdasstLine_AddNew_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Asset_Udretire_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Udretire_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Udretire_AddNew_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.UdretireLine_AddNew_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Asset_Udassettransf_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Udassettransf_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Material_Workorder_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Workorder_Details_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Material_Mainvuse_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Mainvuse_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Mainvuse_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.MainvuseLine_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Material_Udstockt_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Udstockt_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Udstockt_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.UdstocktLine_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Material_PO_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Po_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.PO_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.PoLine_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Material_Maainvuse_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.actvity.Maainvuse_Details_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.Maainvuse_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.actvity.MaainvuseLine_AddNew_Activity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>